Package: sleptember.github.vexextend
Name: Vex
Version: 1.0
Architecture: iphoneos-arm
Description: m name jeff
Depiction: http://sleptember.org
Homepage: http://sleptember.org
Maintainer: Billy Rees <contact@sleptember.org>
Author: Billy Rees <contact@sleptemeber.org>
Section: Themes
