Package: sleptember.github.vexextend
Name: Vex
Version: 0.1.6
Architecture: iphoneos-arm
Description: m name jeff
Depiction: http://repo.sleptember.org
Homepage: http://repo.sleptember.org
Maintainer: Billy Rees <contact@sleptember.org>
Author: Billy Rees <contact@sleptemeber.org>
Section: Themes
